.single-body-edit {
  padding-bottom: 96px;
}

.single-edit-textarea {
  display: block;
  padding: 14px 25px;
  width: 100%;
}

.single-edit-copy {
  font-size: 18px;
  line-height: 2.23;
  letter-spacing: .09em;
}

.single-edit-heading {
  margin-top: 19px;
  font-size: 40px;
  font-weight: bold;
  letter-spacing: .1em;
  line-height: 1.66;
}

.single-edit-copy {
  margin-top: 37px;
  min-height: 394px;
}
