@import '../../assets/styles/settings';

.header {
  padding: 30px 0;
  width: 100%;
  position: relative;
  z-index: $z-max9;
}

.header-container {
  display: flex;
}

.header-logo {
  width: 147px;
}

.header-right {
  display: flex;
  align-items: center;
  margin-left: auto;
  font-size: 18px;
}

.header-right-button {
  font-family: $font-montserrat;
  font-size: 18px;
  font-weight: bold;
  color: $primary-color;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.1em;
  background: none;
}
