@charset 'utf-8';

@import './assets/styles/settings';
@import './assets/styles/base/base';

// layout
@import './assets/styles/layout/l-container';

// components
@import './assets/styles/components/heading';
@import './assets/styles/components/content-header';

.app-main {
  padding: 99px 0 130px;

  &.app-main-single {
      padding-top: 0;
  }

  &.is-fixed {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
  }
}

.message {
  visibility: hidden;
  opacity: 0;
  transition: opacity $duration $easing,
              visibility $duration $easing;

  &.error,
  &.success {
    font-size: 15px;
    line-height: 1.8;
    letter-spacing: .09em;
    padding: 8px 20px;
    border-radius: 4px;
    visibility: visible;
    opacity: 1;
  }

  &.error {
    color: $color-red;
    background-color: $color-light-red;
  }

  &.success {
    color: $color-green;
    background-color: $color-light-green;
  }

  &.message-single {
    margin-top: 0;
    margin-bottom: 30px;
  }

  &.message-comment {
    margin-top: -25px;
    margin-bottom: 30px;
  }
}
